body{
    background-color:rgb(101, 81, 81);
    margin: 0px;
}

.container1{
    display: flex;
    background-color: rgb(146, 188, 188);
    flex-wrap: wrap;
    padding:0 150px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content1{
    display: flex;
}

.maintitle{
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    color:#f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    padding:0px;
    margin:0px;
    gap: 20px;
}

a{
    text-decoration: none;
}